<h1> All Students: </h1>
<% @students.each do |student| %>
    <h3> <%=link_to "#{student.name}", student_path(student) %> </h3>
<% end %>

<h1> Students without Courses: </h1>
<% @unenrolled_students.each do |student| %>
    <h3> <%=link_to "#{student.name}", student_path(student) %> </h3>
<% end %>

<h1> Middle-School Students without Courses: </h1>
<% @unenrolled_students_in_middle.each do |student| %>
    <h3> <%=link_to "#{student.name}", student_path(student) %> </h3>
<% end %>

<h1> <%= link_to "Add a student to the school", new_student_path %> </h1>
