<h2> <%= link_to "Sign up", new_teacher_path %> </h2>
<h2> <%= link_to "Sign in", signin_path %> </h2>
<h2> <%= link_to "View all Courses", courses_path %> </h2>
<%= link_to "Log Out", session_path, method:'delete' %>
